extends shared/layout

block content
	h3 404: Page Not Found
	p The page #{url} that you requested does not exist. Continue using ChooseSocial.PH by clicking one of those buttons
	br
	.row
		.col-lg-4.col-md-4.col-sm-4.col-xs-12
			.thumbnail.text-center
				a(href='/explore')
					img(src="images/city.jpg")
					.blackoverlay
					.middleoverlay
						h3 Explore
						h4 Social Enterprises
		.col-lg-4.col-md-4.col-sm-4.col-xs-12
			.thumbnail.text-center
				a(href='/#causes')
					img(src="images/socialworker.jpg")
					.blackoverlay
					.middleoverlay
						h3 Connect
						h4 With Causes You Care About
		.col-lg-4.col-md-4.col-sm-4.col-xs-12
			.thumbnail.text-center
				a(href='/#engage')
					img(src="images/engage.jpg")
					.blackoverlay
					.middleoverlay
						h3 Engage
						h4 With Us