extends shared/layout

block content
	h3 404: Page Not Found
	p The page #{url} that you requested does not exist. Continue using ChooseSocial.PH by clicking one of those buttons
	br
	.row
		.col-lg-4.col-md-4.col-sm-12.col-xs-12
			.thumbnail.text-center
				a(href='#')
					span.fa.fa-globe.bigicon
				.caption 
					a(href='#') 
						h3 Explore
						h4 Social Enterprises
		.col-lg-4.col-md-4.col-sm-12.col-xs-12
			.thumbnail.text-center
				a(href='/#causes')
					span.fa.fa-heart.bigicon
				.caption
					a(href='/#causes')
						h3 Connect
						h4 With Causes You Care About
		.col-lg-4.col-md-4.col-sm-12.col-xs-12
			.thumbnail.text-center
				a(href='/#engage')
					span.fa.fa-comments-o.bigicon
				.caption
					a(href='/#engage') 
						h3 Engage
						h4 With Us