extends shared/layout

block head
	style.
		.imageaboutbackground {
			background: url(/images/kids.jpg) no-repeat center center; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			color:white;
			padding-right:60px;
			padding-left:60px;
			margin-bottom:30px;
			padding-bottom:35px;
			padding-top:350px;
			border-radius:6px;
		}
		.imageaboutbackground h2 {
			color:white;
			font-size:48px;
			font-weight:bold;
			text-shadow: 1px 1px 2px #757575;
		}
		.imageaboutbackground h3 {
			color:white;
			font-size:32px;
			text-shadow: 1px 1px 2px #757575;
		}
		@media (max-width: 767px) {
		 	.imageaboutbackground {
				padding-top:200px;
				padding-right:15px;
				padding-left:15px;
				padding-bottom:5px;
			}
			.imageaboutbackground h2 {
				font-size:38px;
				font-weight:normal;
			}
			.imageaboutbackground h3 {
				font-size:28px;
			}
		}
	meta(property="og:description",content='ChooseSocial.PH is your destination to discover and explore the social enterprise scene in Philippines (and the amazing people behind it!). We are a crowdsourced social directory and aim to be the most comprehensive and up-to-date resource for anyone looking to learn more about social enterprises in Philippines.')
	meta(name="description",content='ChooseSocial.PH is your destination to discover and explore the social enterprise scene in Philippines. We are a crowdsourced social directory and aim to be the most comprehensive resource for anyone looking to learn about social enterprises in Philippines.')
	meta(property="og:url",content=externalUrl+'/aboutus')
	meta(property="og:image",content=externalUrl+'/images/logochoosesocialfacebook.png')

block content
	.title.clearfix
		h1 About Us
	.imageaboutbackground
		h2 Mission
		h3 To bring social enterprises into the mainstream!
	h2 Who are we? 
	.whitebox
		p 
			strong ChooseSocial.PH 
			| is your destination to discover and explore the social enterprise scene in Philippines (and the amazing people behind it!). We are a crowdsourced social directory and aim to be the most comprehensive and up-to-date resource for anyone looking to learn more about social enterprises in Philippines. 
		p 
			|Want to learn about a particular organization, looking for an organization to support, or maybe just feel like shopping while supporting a worthwhile cause? 
			strong ChooseSocial.PH 
			| has got you covered. 
	h2 What's a social enterprise? 
	.panel.panel-default
		.panel-body
			| The formal definition of a social enterprise is hard to pin down and may vary depending who you're talking to. Social enterprises can be for-profit, non-profit, co-operative, or charitable organizations – but to keep things simple, we define a social enterprise as a business that aims to achieve two things: 
	.row
		.col-lg-3.col-md-3.col-md-offset-3.col-sm-6.col-xs-6
			.thumbnail.text-center
				i.fa.fa-thumbs-up.bigicon
				.caption
					h3 Do good
		.col-lg-3.col-md-3.col-sm-6.col-xs-6
			.thumbnail.text-center
				i.fa.fa-line-chart.bigicon
				.caption
					h3 Be financially sustainable
	.panel.panel-default
		.panel-body
			| Our definition may sound simple, but we take it seriously. All the organizations that you will discover here are not only 
			strong proudly doing work in the Philippines 
			| but will also:
	.list-group
		.list-group-item.list-group-item-info
			h4.list-group-item-heading Have the cause be at the centre of the business
			p.list-group-item-text It will primarily exist and operate in order to improve a social or environmental cause or mission
		.list-group-item
			h4.list-group-item-heading Use market-based strategies to sustain their work
			p.list-group-item-text It will primarily fund itself through commercial activities or trade in order to remain financially sustainable
		.list-group-item.list-group-item-info
			h4.list-group-item-heading Be able to act independently
			p.list-group-item-text It will not be dependent on government grants or public donations in order to operate
		.list-group-item
			h4.list-group-item-heading Re-invest a percentage of its profits back into the cause or local community
			p.list-group-item-text The social mission/cause and the business itself are inextricably linked, so as the business and profits grow, the benefits to the impacted communities grow as well. 
	.panel.panel-default
		.panel-body 
			h5 Want to learn more? 
			| We're not the only ones crazy about social enterprise. 
			a(href="http://www.socialenterprise.org.uk/about/about-social-enterprise", target="_blank") Social Enterprise UK 
			| is doing great work and offers excellent resources for those of you interested in learning more about social enterprises or starting your own. 
	h2 But Why 
		em Choose Social 
		| Enterprise? 
	.whitebox
		p We believe all organizations need to be financially sustainable in order to scale up their impact, and we're big believers that social enterprises are the way to building a society where everyone profits. We want to foster and support organizations that are changing the business landscape – organizations that think like smart and savvy businesses in order to grow the bottom line: their social impact.
		br
		p So whether you are looking to start an organization, support one, or work for one – whatever it may be, consider choosing a social enterprise – because when you choose social, everyone wins.

	h2 About the Team
	.whitebox
		.row
			.col-lg-3.col-md-3.col-sm-4.col-xs-12
				.text-center.team
					img(src="/images/gelainesantiago.jpg",srcset="/images/gelainesantiago.jpg 1x, /images/gelainesantiago@2x.jpg 2x",class="img-responsive",alt="Gelaine Santiago")
			.col-lg-9.col-md-9.col-sm-8.col-xs-12
				h3 Gelaine Santiago
				p Gelaine is one of the founders of ChooseSocial.PH and is all about people – she believes that effective people management can transform social enterprises into impactful and sustainable sources of good. She has an undergraduate degree in Biology and Political Science, and a post-graduate degree in Human Resource Management in Toronto. She is a Certified Human Resource Professional (CHRP) in Canada and has more than 4 years of experience working within for-profit and non-profit organizations. Gelaine has particular expertise in talent acquisition (recruitment), volunteer management, and training and development, as well as exposure to talent branding, marketing, and employee relations. 
				br 
				p When she's not working as a Talent Acquisition Specialist for a financial firm, she volunteers to give pro bono employment and job search advice to recent immigrants and is also a Member of the Board of Directors for a non-profit humanitarian organization in Toronto focused on mass atrocity prevention. Though she was raised in Canada, she is a proud Filipina (originally from Malolos), and actively searches for ways to help develop strong communities back home. 

				br
				address
					a(href="https://twitter.com/gelaineyyy",target="_blank")
						span.fa.fa-twitter-square
						strong  Twitter
					br
					a(href="https://ca.linkedin.com/in/gelainesantiago",target="_blank")
						span.fa.fa-linkedin-square
						strong  LinkedIn
				br
		.row
			.col-lg-3.col-md-3.col-sm-4.col-xs-12
				.text-center.team
					img(src="/images/jeromegagnonvoyer.png",srcset="/images/jeromegagnonvoyer.png 1x, /images/jeromegagnonvoyer@2x.png 2x",class="img-responsive",alt="Jérôme Gagnon-Voyer")
			.col-lg-9.col-md-9.col-sm-8.col-xs-12
				h3 Jérôme Gagnon-Voyer
				p Jérôme is a seasoned technical consultant and developer, and serves as a founder and in-house technology expert for ChooseSocial.PH. He graduated with a degree in Computer Engineering from Laval University in Québec (Canada) and has more than 5 years' comprehensive consulting experience for big players across Canada and the US within a wide range of industries. He's no stranger to entrepreneurship – in addition to large corporations, he's also worked with small to medium-sized tech companies in Toronto, interned at a start-up in Silicon Valley, and also managed his own IT consulting business. 
				br
				p Jérôme isn't just a tech guy, though! He also worked as national VP of Communications for the global NGO, AIESEC, where he led marketing and IT initiatives and also discovered his passion for social entrepreneurship. In his spare time, Jérôme uses his powers for good by working pro bono on a range of technology projects!

				br
				a(href="https://twitter.com/jeromegv",target="_blank")
					span.fa.fa-twitter-square
					strong  Twitter
				br
				a(href="http://www.gagnonvoyer.com",target="_blank")
					span.fa.fa-rss-square
					strong  Website
				br
				a(href="https://ca.linkedin.com/in/jeromegagnonvoyer",target="_blank")
					span.fa.fa-linkedin-square
					strong  LinkedIn
				br
					
			.col-lg-2.col-md-2.col-sm-6.col-xs-12
				address
					
					br
			.col-lg-2.col-md-2.col-sm-6.col-xs-12
				address
					

	
	.row
		include shared/bigbuttons