extends shared/layout

block head

block content
	.title.clearfix
		h1 About Us
	.jumbotron
		h2 Mission
		p To establish social enterprises as the most impactful way to do good. 
	.jumbotron
		h2 Who are we?
		p 
			strong ChooseSocial.PH 
			| is your one-stop shop to discover and explore the social enterprise scene in Philippines (and the amazing people behind it!). We aim to be the most comprehensive and up-to-date resource for anyone looking to learn more about social enterprises in Philippines. Want to learn about a particular organization, looking for an organization to support, or maybe just feel like shopping while supporting a worthwhile cause? 
			strong ChooseSocial.PH 
			| has got you covered. 
	h2 About the Team
	.whitebox
		.team
			.row
				.col-lg-3.col-md-3.col-sm-12.col-xs-12
					.text-center
						img(src="/images/gelainesantiago.jpg",class="img-responsive",alt="Gelaine Santiago")
				.col-lg-9.col-md-9.col-sm-12.col-xs-12
					h3 Gelaine Santiago
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra dolor in molestie vehicula. Quisque vel felis quis magna pellentesque vestibulum. Vivamus euismod rutrum lectus id pulvinar. Fusce dignissim velit et ante porta, non tempor sapien lacinia. Aliquam erat volutpat. Nullam sodales lectus urna. Suspendisse sed diam sit amet orci accumsan aliquam. Integer id erat diam.
					br
					address
						span.fa.fa-twitter
						strong  Twitter
						br
						a(href="http://twitter.com/gelaineyyy",target="_blank") http://twitter.com/gelaineyyy


		.team
			.row
				.col-lg-3.col-md-3.col-sm-12.col-xs-12
					.text-center
						img(src="/images/jeromegagnonvoyer.png",class="img-responsive",alt="Jérôme Gagnon-Voyer")
				.col-lg-9.col-md-9.col-sm-12.col-xs-12
					h3 Jérôme Gagnon-Voyer
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas viverra dolor in molestie vehicula. Quisque vel felis quis magna pellentesque vestibulum. Vivamus euismod rutrum lectus id pulvinar. Fusce dignissim velit et ante porta, non tempor sapien lacinia. Aliquam erat volutpat. Nullam sodales lectus urna. Suspendisse sed diam sit amet orci accumsan aliquam. Integer id erat diam.
					br
					address
						span.fa.fa-twitter
						strong  Twitter
						br
						a(href="http://twitter.com/jeromegv",target="_blank") http://twitter.com/jeromegv
					address
						span.fa.fa-rss
						strong  Website
						br
						a(href="http://www.gagnonvoyer.com",target="_blank") http://www.gagnonvoyer.com
	h2 What’s a social enterprise? 
	p The formal definition of a social enterprise is hard to pin down and may vary depending who you’re talking to. Social enterprises can be for-profit, non-profit, co-operative, or charitable organizations – but to keep things simple, we define a social enterprise as a business that aims to achieve two things: 
	strong
		em 
			ol
				li.normaldecimallist Do good and 
				li.normaldecimallist Do good in a way that is financially sustainable
	p 	
		| Our definition may sound simple, but we take it seriously. All the organizations that you will discover here are not only 
		strong proudly doing work in the Philippines 
		| but will also …
	ul.normallist
		li.normallist 
			strong
				em Have the cause be at the centre of the business: 
			| It will 
			strong primarily 
			| exist and operate in order to improve a social or environmental cause or mission
		li.normallist 
			strong
				em Use market-based strategies to sustain their work:  
			| It will 
			strong primarily 
			| fund itself through commercial activities or trade in order to remain financially sustainable. 
		li.normallist 
			strong
				em Be able to act independently: 
			| It will not be dependent on government grants or public donations in order to operate 
		li.normallist 
			strong
				em Re-invest a percentage of its profits back into the cause or local community:  
			| The social mission/cause and the business itself are inextricably linked, so as the business and profits grow, the benefits to the impacted communities grow as well. 
	p 
		| Want to learn more? We’re not the only ones crazy about social enterprise. 
		a(href="http://www.socialenterprise.org.uk/about/about-social-enterprise", target="_blank") Social Enterprise UK 
		| is doing great work and offers excellent resources for those of you interested in learning more about social enterprises or starting your own. 
	h3 That all sounds great, but why Choose Social Enterprise? 
	p We admire and applaud the efforts of organizations and people who are committed to improving the world we live, but many of them are stuck in traditional financing models where they end up dependent on grants or donations. Things then get messy, and instead of asking “how can we grow our impact?”, the question on everyone’s mind then becomes “how will we pay our bills next month?”  The reality is, without a financially sustainable business model, the challenges for organizations are never-ending while the resources remain forever scarce. 
	p That’s where social enterprises come in. We believe all organizations need to be financially sustainable in order to scale up their impact, and we’re big believers that social enterprises are the way to building a society where everyone profits. We want to foster and support organizations that are changing the business landscape – organizations that think like smart and savvy businesses in order to grow the bottom line: their social impact. 
	p So whether you are looking to start an organization, support one, or work for one – whatever it may be, consider choosing a social enterprise – because when you choose social, everyone wins. 

	.row
		.col-lg-4.col-md-4.col-sm-12.col-xs-12
			.thumbnail.text-center
				a(href='#')
					span.fa.fa-globe.bigicon
				.caption 
					a(href='#') 
						h3 Explore
						h4 Social Enterprises
		.col-lg-4.col-md-4.col-sm-12.col-xs-12
			.thumbnail.text-center
				a(href='/#causes')
					span.fa.fa-heart.bigicon
				.caption
					a(href='/#causes')
						h3 Connect
						h4 With Causes You Care About
		.col-lg-4.col-md-4.col-sm-12.col-xs-12
			.thumbnail.text-center
				a(href='/#engage')
					span.fa.fa-comments-o.bigicon
				.caption
					a(href='/#engage') 
						h3 Engage
						h4 With Us