extends shared/layout

block head
	meta(property="og:description",content='We are a crowd-sourced social directory and need your help to stay up to date. If you would like to contribute information about an organization, have a question or feedback, or just looking for ways to be involved - contact us!')
	meta(name="description",content='We are a crowd-sourced social directory and need your help to stay up to date. If you would like to contribute, have a question or feedback, or just looking for ways to be involved, contact us!')
	meta(property="og:url",content=externalUrl+'/contactus')
block content
	.title.clearfix
		h1 Contact Us
	.contact_c
		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				.infor_c
					h5 Information
					.infor_c_inn
						p We're a crowd-sourced social directory and need your help to stay up to date. If you would like to contribute information about an organization, have a question or feedback, or just looking for ways to be involved - contact us!
						address
								span.fa.fa-envelope
								strong  Email
								br
								a(href="mailto:info@choosesocial.ph",target="_blank") info@choosesocial.ph
						address
								span.fa.fa-facebook
								strong  Facebook
								br
								a(href="https://facebook.com",target="_blank") https://facebook.com
						address
								span.fa.fa-twitter
								strong  Twitter
								br
								a(href="https://twitter.com/choosesocial",target="_blank") https://twitter.com/choosesocial
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				.con_frm
					h5 Contact Form
					form(method='POST',id='contactus')
						input(type='hidden', name='_csrf', value=_csrf)
						.frm.con_frm_inn
							.row
								.col-lg-6.col-md-6.col-sm-6.col-xs-12
									.form-group
										.lbltxt 
											label(class='control-label', for='name') Name:
										input.form-control.txtbox(type='name', name='name', id='name', placeholder='Your Name',required)
								.col-lg-6.col-md-6.col-sm-6.col-xs-12
									.form-group
										.lbltxt 
											label(class='control-label', for='email') Email:
										input.form-control.txtbox(type='email', name='email', id='email', placeholder='Email',required)
							.row
								.col-lg-12.col-md-12.col-sm-12.col-xs-12
									.form-group
										.lbltxt 
											label(class='control-label', for='message') Message: 
										textarea.form-control(type='text', name='message', rows='3', id='message', placeholder='Type your message here',required)
							.row
								.col-lg-12.col-md-12.col-sm-12.col-xs-12
									.clearfix.frm_bot
										input.btn_c(type='submit')
					