extends shared/layout

block head
	meta(property="og:description",content='We are a crowd-sourced social directory and need your help to stay up to date. If you would like to contribute information about an organization, have a question or feedback, or just looking for ways to be involved - contact us!')
	meta(name="description",content='We are a crowd-sourced social directory and need your help to stay up to date. If you would like to contribute, have a question or feedback, or just looking for ways to be involved, contact us!')
	meta(property="og:url",content=externalUrl+'/contactus')
	meta(property="og:image",content=externalUrl+'/images/logochoosesocialfacebook.png')
block content
	.title.clearfix
		h1 Contact Us
	.contact_c
		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.infor_c
							h5 Calling all social brand advocates!
							.infor_c_inn
								p Want to bring social enterprises into the mainstream? Here's how you can help:
								p 
									strong Spread the word! 
									| Social enterprises can't make an impact if people don't know about them! Like us on 
									a(href="https://www.facebook.com/choosesocial.ph",target="_blank") Facebook
									|, share our website, or share links to your favourite social enterprises. 
								p
									strong Help us grow our directory. 
									| Is there a social enterprise missing from our directory or one whose information is out of date? Let us know. We'll do the research and handle all the legwork. All you gotta do is drop us a line. 
								p 
									strong Share your stories with us. 
									| Have experience using a product, working or volunteering with a social enterprise? Have you been personally impacted by one? Link us to your blog or article, or contact us about becoming a content partner. 
								p 
									strong Want to be a partner or collaborator? 
									| Send us a message and we're happy to discuss! 
								p Anything we missed? We're always open to new ideas and want to hear from you! 

					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.infor_c
							h5 Stay in touch
							.infor_c_inn
								address
										span.fa.fa-envelope
										strong  Email
										br
										a(href="mailto:info@choosesocial.ph",target="_blank") info@choosesocial.ph
								address
										span.fa.fa-facebook
										strong  Facebook
										br
										a(href="https://www.facebook.com/choosesocial.ph",target="_blank") https://www.facebook.com/choosesocial.ph
								address
										span.fa.fa-twitter
										strong  Twitter
										br
										a(href="https://twitter.com/choosesocial",target="_blank") https://twitter.com/choosesocial
								p Sign up for our newsletter and we'll send you only the best and most relevant info on social enterprise news, updates to our platform, and ways you can help bring social enterprises into the mainstream!
								form(action="",method="post",id="mc-embedded-subscribe-form",name="mc-embedded-subscribe-form",class="validate",target="_blank",novalidate)
									input(type="email",value="",name="EMAIL",class="txtboxemail",id="mce-EMAIL",placeholder="Enter your email",required)
									div(style="position: absolute; left: -5000px;")
										input(type="text",name="",tabindex="-1",value="")
									button(type="submit",name="subscribe",id="mc-embedded-subscribe",class="btn btn-primary",role="button") Sign up!
			.col-lg-6.col-md-6.col-sm-6.col-xs-12
				.row
					.col-lg-12.col-md-12.col-sm-12.col-xs-12
						.con_frm
							h5 Get in touch
							form(method='POST',id='contactus')
								input(type='hidden', name='_csrf', value=_csrf)
								.frm.con_frm_inn
									.row
										.col-lg-6.col-md-6.col-sm-6.col-xs-12
											.form-group
												.lbltxt 
													label(class='control-label', for='name') Name:
												input.form-control.txtbox(type='name', name='name', id='name', placeholder='Your Name',required)
										.col-lg-6.col-md-6.col-sm-6.col-xs-12
											.form-group
												.lbltxt 
													label(class='control-label', for='email') Email:
												input.form-control.txtbox(type='email', name='email', id='email', placeholder='Email',required)
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.form-group
												.lbltxt 
													label(class='control-label', for='message') Message: 
												textarea.form-control(type='text', name='message', rows='3', id='message', placeholder='Type your message here',required)
									.row
										.col-lg-12.col-md-12.col-sm-12.col-xs-12
											.clearfix.frm_bot
												input.btn_c(type='submit')
block javascript
	script(type="text/javascript",src="/components/parsleyjs/dist/parsley.min.js")
	script.
		$(document).ready(function() {
		    $('#contactus').parsley({
			  successClass: 'success',
			  errorClass: 'error',
			  classHandler: function(el) {
			    return el.$element.closest(".form-group");
			  },
			  errorsWrapper: '<span class=\"help-inline\"></span>',
			  errorTemplate: '<span></span>'
			});
		});