#footer
    .f_top
      .f_mid
        .container
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              h4 About ChooseSocial.PH
              .desc
                | Nulla laoreet, orci at fringilla consectetur, urna dui aliquam urna, sit amet dapibus odio orci vitae risus. Praesent egestas est vitae interdum varius. Sed ac mauris sit amet erat varius elementum. Morbi leo metus, dictum vitae justo ac, posuere porttitor augue.
                a.fa.fa-arrow-circle-right(href='#')
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              h4 Contacts
              .desc
                | You think we have missed a social enterprise? You think one should be updated? Contact us!
              p
                strong E-mail: 
                a(href='#') support@domain.com
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              h4 Newsletter
              .desc
                | Join our newsletter to be informed about new social enterprises being added!
              .emial_box
                input.txtbox(type='text', placeholder='Enter your e-mail')
                a(href='#')
                  span.fa.fa-level-down.fa-rotate-90
              .social
                ul
                  li.facebook
                    a(href='#')
                      span.fa.fa-facebook
                  li.twitter
                    a(href='#')
                      span.fa.fa-twitter