extends shared/layout

block head
	link(rel="stylesheet",href="/components/slick.js/slick/slick.css")

block content
	.product_c
		.row
			for entry,index in socialPurposeCategory
				.col-lg-3.col-md-4.col-sm-6.col-xs-12
					.main_box
						.box_1
							- var suborg = _.filter(organizations, function(org) { return (_.contains(org.socialPurposeCategoryTags,entry)) });
							- suborg = _.shuffle(suborg)
							.slick
								for entry,index in suborg
									div
										a(href='/organization/'+entry.name_slug)
											img(data-lazy=entry.logoThumbnail,alt=entry.name)
						.desc
							h5= entry
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.row
					.twitter
						.col-lg-3.col-md-3.col-sm-4.col-xs-12
							.desc
								h4 Live updates from your social enterprises!
								.desc_text
									p We have created this twitter list that allows you to follow all the social enterprises in Philippines. See what's new and exciting and follow our twitter list!
						.col-lg-9.col-md-9.col-sm-8.col-xs-12
							a(class="twitter-timeline", data-dnt="true", href="https://twitter.com/AIESECcanada/lists/canada-local-committees", data-widget-id="517465416793206784", data-chrome="nofooter") Tweets from the social enterprises we follow
							script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
block javascript
	script(type="text/javascript",src="/components/slick.js/slick/slick.min.js")
