extends ../layout
block head
	link(rel="stylesheet",href="/components/leaflet/dist/leaflet.css")
block content
	.map(id='map')
block javascript
	script(src="http://open.mapquestapi.com/sdk/leaflet/v1.0/mq-map.js?key=Fmjtd%7Cluur2h02n9%2Cb0%3Do5-9wb2da")
	!= js('maps')