.col-lg-4.col-md-4.col-sm-4.col-xs-12
	.thumbnail.text-center
		a(href='/explore')
			img(src="/images/city.jpg",alt="Explore Social Enterprises")
			.blackoverlay
			.middleoverlay
				h3 Explore
				h4 Social Enterprises
.col-lg-4.col-md-4.col-sm-4.col-xs-12
	.thumbnail.text-center
		a(href='/#causes')
			img(src="/images/socialworker.jpg",alt="Connect with causes you care about")
			.blackoverlay
			.middleoverlay
				h3 Connect
				h4 With Causes You Care About
.col-lg-4.col-md-4.col-sm-4.col-xs-12
	.thumbnail.text-center
		a(href='/contactus')
			img(src="/images/engage.jpg",alt="Get Involved")
			.blackoverlay
			.middleoverlay
				h3 Get
				h4 Involved