#footer
    .f_top
      .f_mid
        .container
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              h4 About ChooseSocial.PH
              .desc
                | ChooseSocial.PH is your one-stop shop to discover and explore the social enterprise scene in Philippines. Want to learn about a particular organization, looking for an organization to support, or maybe just feel like shopping while supporting a worthwhile cause? ChooseSocial.PH has got you covered.
                a.fa.fa-arrow-circle-right(href='#')
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              h4 Contact Us
              .desc
                | Do you know of an organization that we missed? Have a question, feedback or suggestion? We'd love to hear from you!
              p
                strong Email: 
                a(href='#') info@choosesocial.ph
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              h4 Take action - choose social! 
              .desc
                | Sign up for our newsletter and we'll send you only the best and most relevant info on social enterprise news, updates to our platform, and ways you can lead change in your life!
              .emial_box
                input.txtbox(type='text', placeholder='Enter your email')
                a(href='#')
                  span.fa.fa-level-down.fa-rotate-90
              .social
                ul
                  li.facebook
                    a(href='#',target="_blank")
                      span.fa.fa-facebook
                  li.twitter
                    a(href='http://twitter.com/choosesocial',target="_blank")
                      span.fa.fa-twitter
                  li.blog
                    a(href='/')
                      span.fa.fa-rss