#footer
    .f_top
      .f_mid
        .container
          .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12
              h4 About ChooseSocial.PH
              .desc
                | ChooseSocial.PH is your destination to discover and explore the social enterprise scene in Philippines. Want to learn about a particular organization, looking for an organization to support, or maybe just feel like shopping while supporting a worthwhile cause? ChooseSocial.PH has got you covered.
                a.fa.fa-arrow-circle-right(href='/aboutus')
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              h4 Take Action - Choose Social!
              .desc
                | Want to help us grow or update our directory? Share your experience as an entrepreneur, customer or beneficiary? Discuss PR or partnership opportunities? Or just say hello?
              p
                strong Email us at 
                a(href='#') info@choosesocial.ph
            .col-lg-3.col-md-3.col-sm-3.col-xs-12
              h4 Stay Connected
              .desc
                | Sign up for our newsletter and we'll send you only the best and most relevant info on social enterprise news, updates to our platform, and ways you can help bring social enterprises into the mainstream!
              .emial_box
                form(action="",method="post",id="mc-embedded-subscribe-form",name="mc-embedded-subscribe-form",class="validate",target="_blank",novalidate)
                  input(type="email",value="",name="EMAIL",class="txtboxemail",id="mce-EMAIL",placeholder="Enter your email",required,title="Email")
                  div(style="position: absolute; left: -5000px;")
                    input(type="text",name="",tabindex="-1",value="")
                  button(type="submit",name="subscribe",id="mc-embedded-subscribe",class="btn btn-primary",role="button") Go!
              .social
                ul
                  li.facebook
                    a(href='https://www.facebook.com/choosesocial.ph',target="_blank",title="Facebook")
                      span.fa.fa-facebook
                  li.twitter
                    a(href='https://twitter.com/choosesocial',target="_blank",title="Twitter")
                      span.fa.fa-twitter
                  li.blog
                    a(href='https://choosesocialph.wordpress.com',target="_blank",title="Blog")
                      span.fa.fa-rss
                  li.store
                    a(href='https://www.cambio.market',target="_blank",title="Shop!")
                      span.fa.fa-shopping-cart