.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      .navbar-brand
        a(href='/')
          img(src="/images/logochoosesocialmenu.png", srcset="/images/logochoosesocialmenu.png 1x, /images/logochoosesocialmenu@2x.png 2x",alt="ChooseSocial.PH", height="50px",class="center-block")
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
    .navbar-displayed
      ul.nav.navbar-nav.list-inline
        li.hidden-xs.hidden-sm
          a(href='/') Home
        li
          a(href='/explore') Explore
        li
          a(href='/aboutus') About Us
        li
          a(href='/contactus') Contact Us
    .collapse.navbar-collapse
      form(class="navbar-form navbar-right" role="search" action="/")
        .form-group
          .input-group
            input(type="text",title="Search",class="form-control",placeholder="Search",name="search",id="search",autocomplete="off")
            div(class="input-group-btn")
              button(class="btn btn-default",type="submit")
                span.fa.fa-search
      .social
        ul.nav.navbar-nav
          li
            a(href='https://www.shopcambio.co',target="_blank",title="Cambio & Co.") Shop!
          li
            a(href='https://www.shopcambio.co/blogs/news',target="_blank",title="Cambio & Co. Blog") Blog
          li.facebook
            a(href='https://www.facebook.com/choosesocial.ph',target="_blank")
              span.fa.fa-facebook
          li.twitter
            a(href='https://twitter.com/choosesocial',target="_blank")
              span.fa.fa-twitter
        