
/*----------------
   Reset
-----------------*/


* {
	margin:0;
	padding:0;
}
*, *:before, *:after {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

body {
	margin:0;
	padding:0;
	font-family: 'latoregular';
}
:focus {
	outline:none;
}
ul, li {
	list-style:none;
}
a {
	text-decoration:none;
}
p {
	margin:0;
	padding:0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
}

#content {
	background:url(/images/cotnent_bg.png) repeat-x top left #f3f6f6;
	padding:30px 0 30px 0;
}

.title {
	padding:0px 0 25px 0;
}

/*----------------
 Caroussel
-----------------*/
.slick-prev:before, .slick-next:before {
	color: black;
}
.slick-slider {
	margin-bottom: 0px;
}

.product_c {
	position:relative;
}
.main_box {
	width:75%;
	background:white;
}
.main_box .box_1 {
	width:100%;
	background:white;
	position:relative;
	margin-bottom: 2px;
	/*overflow:hidden;*/
}
.main_box .box_1 img {
	width:100%;
	height:auto;
}
.main_box .desc {
	border:5px solid #fff;
	border-radius:5px;
	box-shadow:0 2px 2px rgba(11, 25, 28, 0.1);
	padding:10px 5px 5px 5px;
	background:#ffffff;
	text-align:center;
	border-top:1px solid #efefef;
}
.main_box .desc h5 a {
	color:#282727;
}
.main_box .desc p {
	font-size:12px;
}

.product_c .main_box {
	margin-bottom:40px;
}
/*----------------
 Twitter
-----------------*/

.product_c .twitter {
	padding:30px 0 0 0;
	border-top:1px solid #d7dbdb;
	box-shadow:0 -1px 1px #fff;
}
.product_c .twitter .desc {
	background: #fff;
	box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
	position: relative;
	margin: 0 0 30px 0;
	border-radius: 5px;
	padding:15px;
	text-align:center;
}
.product_c .twitter .desc h5 {
	border-bottom:1px solid #efefef;
	padding:15px;
}
.product_c .twitter .desc .desc_text {
	padding:15px;
}

/*----------------
 Footer
-----------------*/

.fa-arrow-circle-right {	
	color:#37bbec;
	font-size:14px;
	margin-left:6px;
	line-height:27px;
}
.fa-arrow-circle-right:hover {
	text-decoration:none;
}

#footer .f_top .ftop_blk {
	padding:20px 60px 20px 0;
	border-right:1px solid #efefef;
	position:relative;
}
#footer .f_top .bor_none {
	border-right:none;
}
#footer .f_top .h5 {
	line-height:19px;
}
#footer .f_top .icon {
	width:36px;
	height:37px;
	display:block;
	position:absolute;
	top:20px;
	right:25px;
}
#footer .f_mid {
	padding:45px 0 55px 0;
	border-top:1px solid #efefef;
	box-shadow: 0px 3px 3px #d1d7d7;
	position:relative;
}
#footer .f_mid h4 {
	padding:0 0 22px 0;
}
#footer .f_mid .desc {
	font-size:14px;
	line-height:21px;
	color:#898989;
	margin:0;
	padding:0 0 25px 0;
}
#footer .f_mid p {
	font-size:14px;
	line-height:16px;
	color:#898989;
	margin:0;
	padding:0 0 15px 0;
	font-weight:normal;
}
#footer .f_mid p strong {
	font-weight:normal;
	font-family: 'latobold';
}
#footer .f_mid p a {
	color:#37bbec;
}
#footer .f_mid .emial_box {
	position:relative;
}
#footer .f_mid .txtbox {
	width:100%;
	height:30px;
	border-radius:18px;
	font-size:14px;
	color:#898989;
	padding:0 35px 0 18px;
	border:1px solid #d7dbdb;
}
#footer .f_mid .emial_box a {
	position:absolute;
	right:18px;
	top:0px;
}
#footer .f_mid .emial_box a span {
	font-size:12px;
	color:#d7dbdb;
	line-height:30px;
}
#footer .f_mid .social {
	padding:30px 0 0 0;
	text-align: center;
}
#footer .f_mid .social ul {
	margin:0;
	padding:0;
	list-style: none;
}
#footer .f_mid .social ul li {
	float:left;
	margin:0 5px;
	padding:0;
}
#footer .f_mid .social ul li a {
	width:40px;
	height:40px;
	display:block;
	text-align:center;
	border:1px solid #d7dbdb;
	border-radius:50%;
}
#footer .f_mid .social ul li a span {
	font-size:18px;
	color:#898989;
	line-height:40px;
}
#footer .f_bot {
	padding:30px 0;
	background:url(../images/footer_bg.png) repeat-x #f3f6f6;
}
#footer .f_bot .f_bot_left {
	font-size:14px;
	line-height:20px;
	color:#898989;
	margin:0;
	padding:0;
	float:left;
}
#footer .f_bot .f_bot_left strong {
	font-family: 'latobold';
	font-weight:normal;
}
#footer .f_bot .f_bot_right {
	font-size:14px;
	line-height:20px;
	color:#898989;
	margin:0;
	padding:0;
	float:right;
}
#footer .f_bot .f_bot_right a {
	color:#37bbec;
}
.social li.facebook a:hover {
	background-color: #325c94;
}
.social li.twitter a:hover {
	background-color: #00abdc;
}
.social li.facebook a:hover * {
	color:#fff !important;
}
.social li.twitter a:hover * {
	color:#fff !important;
}

/*----------------
  Typography
-----------------*/


h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-weight:normal;
	font-family: 'latoregular';
}

h1 {
	font-size:34px;
	line-height:normal;
	color:#282727;
	font-weight:normal;
	margin:0;
	padding:0;
}
h2 {
	font-size:28px;
	line-height:normal;
	color:#282727;
	font-weight:normal;
	margin:0;
	padding:0;
}
h3 {
	font-size:22px;
	line-height:normal;
	color:#282727;
	font-weight:normal;
	margin:0;
	padding:0;
	font-family: 'latobold';
}
h4 {
	font-size:18px;
	line-height:normal;
	color:#282727;
	font-weight:normal;
	margin:0;
	padding:0;
	font-family: 'latobold';
}
h5 {
	font-size:14px;
	line-height:16px;
	color:#282727;
	font-weight:normal;
	margin:0;
	padding:0;
	text-transform:uppercase;
	font-family: 'latoblack';
}

/*----------------
  SideBar
-----------------*/


.sidebar .side_box {
	position: relative;
	box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
	background:#fff;
	margin:0 0 30px 0;
	padding:0;
	border-radius:5px;
}
.sidebar h5 {
	padding:15px 15px 15px 15px;
	line-height:20px;
	margin:0;
	border-bottom:1px solid #efefef;
}
.sidebar .side_box ul {
	margin:0;
	padding:0;
}
.sidebar .side_box ul li {
	margin:0;
	padding:7px 15px 7px 15px;
	display:block;
}
.sidebar .side_box ul li a {
	margin:0;
	padding:0 0;
	font-size:14px;
	line-height:21px;
	color:#4e4e4e;
	font-weight:normal;
	display:block;
}
.sidebar .side_box ul li:nth-child(odd) {
	background:#fff;
}
.sidebar .side_box ul li:nth-child(even) {
	background:#fafafa;
}
.sidebar .side_box ul li:last-child {
	border-radius:0px 0px 5px 5px;
}
.sidebar .side_box_2 ul li {
	padding:15px 15px 15px 15px;
	overflow:hidden;
}
.sidebar .side_box_2 ul li .post_img {
	width:50px;
	height:50px;
	float:left;
	background:#dbdbdb;
	border-radius:5px;
	margin:0 10px 0 0;
}
.sidebar .side_box_2 ul li a {
	font-weight:normal;
	font-family: 'latobold';
	overflow:hidden;
}
.sidebar .side_box_3 ul {
	padding: 0 15px 15px 15px;
	display:block;
	float:left;
	width:100%;
}
.sidebar .side_box_3 ul li {
	padding:15px 5px 0 0;
	float:left;
	background:none;
}
.sidebar .side_box_3 ul li:nth-child(even) {
	background:none;
}
.sidebar .side_box_3 ul li:nth-child(odd) {
	background:none;
}
.sidebar .side_box_3 ul li a {
	line-height:30px;
	margin:0;
	padding:0 11px;
	display:block;
	color:#282727;
	background:#f3f6f6;
	border-radius:15px;
	font-size:11px;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.sidebar .side_box_3 ul li a:hover {
	background: none repeat scroll 0 0 #37bbec;
	color: #fff;
	text-decoration:none;
}
.sidebar_1 h5 a {
	color:#282727;
	display:block;
}
.sidebar_1 h5 i{
	float:right;
}

.sidebar .col_box ul li span {
	width:10px;
	height:10px;
	display:inline-block;
	border-radius:50%;
	margin:0 8px 0 0;
}
.sidebar .col_box ul li span.multi {
	background:url(../images/multicolor.png) no-repeat center center;
}
.sidebar .col_box ul li .icheckbox_minimal {
	float:right;
	margin-right:0;
}
.sidebar .col_box ul li:nth-child(1) span {
	background:#a637ec;
}
.sidebar .col_box ul li:nth-child(2) span {
	background:#37bbec;
}
.sidebar .col_box ul li:nth-child(3) span {
	background:#8dc838;
}
.sidebar .col_box ul li:nth-child(4) span {
	background:#fbcf00;
}
.sidebar .col_box ul li:nth-child(5) span {
	background:#fb5700;
}
.sidebar .col_box ul li:nth-child(6) span {
	background:#fb0000;
}
.sidebar .col_box ul li:nth-child(7) span {
	background:#dfdfdf;
}
.sidebar .col_box ul li:nth-child(8) span {
	background:#252525;
}
.sidebar .col_box ul li:nth-child(9) span {
	background:url(../images/multicolor.png) no-repeat center center;
}
.sidebar .material {
}
.sidebar .material .iradio_minimal {
	float:right;
	margin-right:-3px;
}

 /* Responsive Styles*/
 /* for Mobile */
 @media (max-width: 767px) {

 	body {
	  padding-top: 135px;
	}

	.navbar-form{
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top:5px;
		border-top:0px;
	}
	.navbar-nav{
		margin-top: 0px;
		margin-bottom: 0px;
		display:inline-block;
	}
	.navbar-displayed{
		text-align:center;
	}

	.navbar-form .form-group{
		margin-bottom: 0px;
	}
	.navbar-brand{
		height:40px;
		padding-top: 10px;
	}
	.nav>li {
	    position: relative;
	    display: inline-block;
	}
	#footer .f_mid .social ul {
		display:inline-block;
	}
	.main_box{
		width:85%;
		float: none;
   		margin: 0 auto;
	}
	.product_c .twitter {
		width:85%;
		float: none;
   		margin: 0 auto;
	}

	.slick-prev:before, .slick-next:before { 
		font-family: "slick"; 
		font-size: 30px; 
		line-height: 1; 
		opacity: 0.75; 
		-webkit-font-smoothing: antialiased;
	}
	.slick-prev{
		height: 30px; width: 30px;
		left:-35px;
	}
	.slick-next{
		height: 30px; width: 30px;
		right:-35px;
	}

	.tgl_c{
		display:none;
	}

 }

 /* for tablet desktop */
@media (min-width: 768px) {
	.main_box {
		height:260px;
	}
	.main_box .box_1 {
		height:220px;
	}
	.product_c .main_box.searchbox {
		height:200px;
	}
	.product_c .main_box.searchbox .box_1{
		height:160px;
	}
	.product_c .main_box.searchbox{
		margin-bottom: 80px;
	}
	.product_c .main_box.searchbox .desc{
		max-height: 100px;
		overflow: hidden;
	}
}

/* for desktop */
@media (min-width: 1200px) {
	.main_box {
		height:240px;
	}
	.main_box .box_1 {
		height:200px;
	}
	.product_c .main_box.searchbox {
		height:240px;
	}
	.product_c .main_box.searchbox .box_1{
		height:200px;
	}
	.product_c .main_box.searchbox{
		margin-bottom: 80px;
	}
	.product_c .main_box.searchbox .desc{
		max-height: 100px;
		overflow: hidden;
	}
	/*.product_c .main_box.searchbox:before {
    content:'';
    width:100%;
    height:100%;    
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 260px, #f3f6f6);*/
}
}
