
/*----------------
   Reset
-----------------*/


* {
	margin:0;
	padding:0;
}
*, *:before, *:after {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

body {
	margin:0;
	padding:0;
	font-family: 'latoregular';
}
:focus {
	outline:none;
}
ul, li {
	list-style:none;
}
a {
	text-decoration:none;
}
p {
	margin:0;
	padding:0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  background-color: #f3f6f6;
}

#content {
	background:url(/images/cotnent_bg.png) repeat-x top left #f3f6f6;
	padding:30px 0 30px 0;
}

.title {
	padding:0px 0 25px 0;
}
a.anchor{
	display: block; 
	position: relative; 
	top: -50px; 
	visibility: hidden;
}

.caption {
	text-align: center;
}

.caption p {
	text-align: left;
}

.caption a h3 {
	color: #428bca;
	margin-top: 9px;
}
.caption a h4{
	color: #428bca;
}

.jumbotron {
	background:white;
	padding-top: 35px;
	padding-bottom: 35px;
}
.middleoverlay {
	display: block;
	font-size: 19px;
	height: auto;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 100%;
	left:0px;
}
.blackoverlay {
	background:black;
	opacity:0.5;
	display: block;
	position: absolute;
	text-align: center;
	top: 40%;
	width: 100%;
	height:100px;
	left:0px;	
}
.thumbnail {
	position:relative;
	padding:0px;
}
.middleoverlay h4 {
  color:white;
}
.middleoverlay h3 {
  color:white;
}
.imagebackground h1 {
	color:white;
	text-shadow: 1px 1px 2px #757575;
}
.imagebackground h2 {
	color:white;
	text-shadow: 1px 1px 2px #757575;
}
.normallist {
	list-style-type: disc;
}
ul.normallist {
	padding-left: 40px
}
.normaldecimallist {
	list-style-type: decimal;
}
ol {
	padding-left: 40px;
}
.bigicon{
	font-size:120px;
}
i.bigicon{
	color: #428bca;
}
.mediumicon{
	font-size:40px;
	padding:20px;
	color: #428bca;
}
#map { 
  width: 100%; 
  height: 400px; 
}
#mapall { 
  width: 100%; 
  height: 250px; 
}
.navbar-brand {
	padding: 0px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color:#99CA3C;
}

/*----------------
 Caroussel
-----------------*/
.slick-prev:before, .slick-next:before {
	color: black;
}
.slick-slider {
	margin-bottom: 0px;
}

.product_c {
	position:relative;
}
.main_box {
	width:75%;
	background:white;
}
.main_box .box_1 {
	width:100%;
	background:white;
	position:relative;
	margin-bottom: 2px;
}
.main_box .box_1 img {
	width:100%;
	height:auto;
}
.main_box .desc {
	border:5px solid #fff;
	border-radius:5px;
	box-shadow:0 2px 2px rgba(11, 25, 28, 0.1);
	padding:10px 5px 5px 5px;
	background:#ffffff;
	text-align:center;
	border-top:1px solid #efefef;
}

.main_box .desc_title_front_page {
	padding:10px 5px 5px 5px;
	text-align:center;
	background: #f3f6f6; 
}

.main_box .desc h5 {
	margin:0;
	padding:0;
	font-weight:normal;
}
.main_box .desc h5 a {
	color:#282727;
}
.main_box .desc p {
	font-size:12px;
}

.product_c .main_box {
	margin-bottom:40px;
}

/*----------------
 Twitter
-----------------*/

.product_c .twitter {
	padding:30px 0 0 0;
	border-top:1px solid #d7dbdb;
	box-shadow:0 -1px 1px #fff;
}
.product_c .twitter .desc {
	background: #fff;
	box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
	position: relative;
	margin: 0 0 30px 0;
	border-radius: 5px;
	padding:15px;
	text-align:center;
}
.product_c .twitter .desc h5 {
	border-bottom:1px solid #efefef;
	padding:15px;
}
.product_c .twitter .desc .desc_text {
	padding:15px;
}

/*----------------
 Footer
-----------------*/
#footer {
	background:white;
}
.fa-arrow-circle-right {	
	color:#37bbec;
	font-size:14px;
	margin-left:6px;
	line-height:27px;
}
.fa-arrow-circle-right:hover {
	text-decoration:none;
}

#footer .f_top .ftop_blk {
	padding:20px 60px 20px 0;
	border-right:1px solid #efefef;
	position:relative;
}
#footer .f_top .bor_none {
	border-right:none;
}
#footer .f_top .h5 {
	line-height:19px;
}
#footer .f_top .icon {
	width:36px;
	height:37px;
	display:block;
	position:absolute;
	top:20px;
	right:25px;
}
#footer .f_mid {
	padding:45px 0 55px 0;
	border-top:1px solid #efefef;
	box-shadow: 0px 3px 3px #d1d7d7;
	position:relative;
}
#footer .f_mid h4 {
	padding:0 0 22px 0;
}
#footer .f_mid .desc {
	font-size:14px;
	line-height:21px;
	color:#898989;
	margin:0;
	padding:0 0 25px 0;
}
#footer .f_mid p {
	font-size:14px;
	line-height:16px;
	color:#898989;
	margin:0;
	padding:0 0 15px 0;
	font-weight:normal;
}
#footer .f_mid p strong {
	font-weight:normal;
	font-family: 'latobold';
}
#footer .f_mid p a {
	color:#37bbec;
}
.emial_box {
	position:relative;
}
.txtboxemail {
	height:30px;
	border-radius:18px;
	font-size:14px;
	color:#898989;
	padding:0 5px 0 18px;
	margin-right:5px;
	margin-bottom:5px;
	border:1px solid #d7dbdb;
}
#mc-embedded-subscribe {
	padding:4px 6px 4px 6px;
}
.emial_box a {
	position:absolute;
	right:18px;
	top:0px;
}
.emial_box a span {
	font-size:12px;
	color:#d7dbdb;
	line-height:30px;
}
#footer .f_mid .social {
	padding:25px 0 0 0;
	text-align: center;
}
#footer .f_mid .social ul {
	margin:0;
	padding:0;
	list-style: none;
}
#footer .f_mid .social ul li {
	float:left;
	margin:0 5px;
	padding:0;
}
#footer .f_mid .social ul li a {
	width:40px;
	height:40px;
	display:block;
	text-align:center;
	border:1px solid #d7dbdb;
	border-radius:50%;
}
#footer .f_mid .social ul li a span {
	font-size:18px;
	color:#898989;
	line-height:40px;
}
#footer .f_bot {
	padding:30px 0;
	background:url(../images/footer_bg.png) repeat-x #f3f6f6;
}
#footer .f_bot .f_bot_left {
	font-size:14px;
	line-height:20px;
	color:#898989;
	margin:0;
	padding:0;
	float:left;
}
#footer .f_bot .f_bot_left strong {
	font-family: 'latobold';
	font-weight:normal;
}
#footer .f_bot .f_bot_right {
	font-size:14px;
	line-height:20px;
	color:#898989;
	margin:0;
	padding:0;
	float:right;
}
#footer .f_bot .f_bot_right a {
	color:#37bbec;
}
.social li.facebook a:hover {
	background-color: #325c94;
}
.social li.twitter a:hover {
	background-color: #00abdc;
}
.social li.blog a:hover {
	background-color: #FF7F00;
}
.social li.facebook a:hover * {
	color:#fff !important;
}
.social li.twitter a:hover * {
	color:#fff !important;
}
.social li.blog a:hover * {
	color:#fff !important;
}

/*----------------
  Typography
-----------------*/


h1, h2, h3, h4, h5, h6 {
	font-family: 'latoregular';
	color:#282727;
}

h3 {

	font-family: 'latobold';
}
h4 {

	font-family: 'latobold';
}
h5 {

	text-transform:uppercase;
	font-family: 'latoblack';
}

/*----------------
  SideBar
-----------------*/


.sidebar .side_box {
	position: relative;
	box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
	background:#fff;
	margin:0 0 30px 0;
	padding:0;
	border-radius:5px;
}
.sidebar h5 {
	padding:7px 15px 7px 15px;
	line-height:20px;
	margin:0;
	border-bottom:1px solid #efefef;
}
.sidebar .side_box ul {
	margin:0;
	padding:0;
}
.sidebar .side_box ul li {
	margin:0;
	padding:5px 5px 5px 15px;
	display:block;
}

.sidebar .side_box ul li a {
	margin:0;
	padding:0 0;
	font-size:14px;
	line-height:21px;
	width:85%;
	font-weight:normal;
	display:block;
	/* this replace overflow with ... */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
input[type=checkbox] {
	margin-left: 10px;
}
.badge {
	background-color: #428bca;
	opacity: 0.55;
	padding-right:6px;
	padding-left: 6px;
}
.sidebar .side_box ul li:nth-child(odd) {
	background:#fff;
}
.sidebar .side_box ul li:nth-child(even) {
	background:#fafafa;
}
.sidebar .side_box ul li:last-child {
	border-radius:0px 0px 5px 5px;
}
.sidebar .side_box_2 ul li {
	padding:15px 15px 15px 15px;
	overflow:hidden;
}
.sidebar .side_box_2 ul li .post_img {
	width:50px;
	height:50px;
	float:left;
	background:#dbdbdb;
	border-radius:5px;
	margin:0 10px 0 0;
}
.sidebar .side_box_2 ul li a {
	font-weight:normal;
	font-family: 'latobold';
	overflow:hidden;
}
.sidebar .side_box_3 ul {
	padding: 0 15px 15px 15px;
	display:block;
	float:left;
	width:100%;
}
.sidebar .side_box_3 ul li {
	padding:15px 5px 0 0;
	float:left;
	background:none;
}
.sidebar .side_box_3 ul li:nth-child(even) {
	background:none;
}
.sidebar .side_box_3 ul li:nth-child(odd) {
	background:none;
}
.sidebar .side_box_3 ul li a {
	line-height:30px;
	margin:0;
	padding:0 11px;
	display:block;
	color:#282727;
	background:#f3f6f6;
	border-radius:15px;
	font-size:11px;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.sidebar .side_box_3 ul li a:hover {
	background: none repeat scroll 0 0 #37bbec;
	color: #fff;
	text-decoration:none;
}
.sidebar_1 h5 a {
	color:#282727;
	display:block;
}
.sidebar_1 h5 i{
	float:right;
}

.sidebar .col_box ul li span {
	width:10px;
	height:10px;
	display:inline-block;
	border-radius:50%;
	margin:0 8px 0 0;
}

.sidebar .col_box ul li .icheckbox_minimal {
	float:right;
	margin-right:0;
}
.sidebar .col_box ul li:nth-child(1) span {
	background:#a637ec;
}
.sidebar .col_box ul li:nth-child(2) span {
	background:#37bbec;
}
.sidebar .col_box ul li:nth-child(3) span {
	background:#8dc838;
}
.sidebar .col_box ul li:nth-child(4) span {
	background:#fbcf00;
}
.sidebar .col_box ul li:nth-child(5) span {
	background:#fb5700;
}
.sidebar .col_box ul li:nth-child(6) span {
	background:#fb0000;
}
.sidebar .col_box ul li:nth-child(7) span {
	background:#dfdfdf;
}
.sidebar .col_box ul li:nth-child(8) span {
	background:#252525;
}
.sidebar .material {
}
.sidebar .material .iradio_minimal {
	float:right;
	margin-right:-3px;
}
/*----------------
  About Us
-----------------*/
.whitebox {
	position: relative;
	box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
	background:#fff;
	margin:0 0 30px 0;
	padding:25px;
	border-radius:5px;
}
.whitetag {
	box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
	background:#fff;
	margin:0 10px 30px 0;
	padding: 2px 5px 2px 5px;
	border-radius:5px;
	display: inline-block;
}
.whitetag h2{
	font-size:14px;
	text-transform: uppercase;
	font-family: 'latoblack';
	margin-top:10px;
	margin-bottom: 10px;
}
.whitetag h2 a{
	padding-left: 10px;
	font-size:17px;
}
.team {
	padding-top: 20px;
}


/*----------------
  Contact Us
-----------------*/

.form-group.error{
    color: #b94a48 !important;
    background-color: #f2dede !important;
    border: 1px solid #EED3D7 !important;
}

#content .contact_c h5 {
	padding:15px 15px;
	line-height:20px;
	border-bottom: 1px solid #efefef;
}
#content .con_frm {
	background: #fff;
	position: relative;
	box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
	margin: 0 0 30px 0;
	border-radius: 5PX;
}
#content .con_frm .con_frm_inn {
	padding:5px 15px 30px 15px;
}
#content .con_frm .frm_bot {
}
#content .contact_c .box {
	height:390px;
	margin-bottom:30px;
}
.contact-box img {
	width:100%;
	height:auto;
}
#content .con_frm .sub_box .sbHolder {
	width:100%;
	margin:0;
	height:30px;
	border-color:#d7dbdb;
}
#content .con_frm .sub_box .sbToggle {
	background:url(../images/select_open_arr_1.png) center left no-repeat;
	height:28px;
}
#content .con_frm .sub_box .sbSelector {
	height:30px;
	line-height:28px;
}
#content .con_frm .sub_box .sbOptions a {
	padding:5px 10px 5px;
}
#content .con_frm .sub_box .sbToggleOpen {
	background:url(../images/select_close_arr_1.png) left center no-repeat;
}
#content .infor_c {
	background: #fff;
	position: relative;
	box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
	margin: 0 0 30px 0;
	border-radius: 5PX;
}
#content .infor_c .infor_c_inn {
	padding:15px 15px 5px 15px;
}
#content .infor_c .infor_c_inn h5 {
	margin:0;
	padding:0 0 12px 0;
	border:none;
	font-weight:normal;
	font-family: 'latobold';
	text-transform:none;
	font-size:14px;
}
#content .infor_c .infor_c_inn p {
	font-size:14px;
	line-height:21px;
	color:#898989;
	margin:0 0 25px 0;
	padding:0;
	font-weight:normal;
}
#content .infor_c .infor_c_inn .add_c p {
	margin:0 0 10px 0;
}
#content .infor_c .infor_c_inn .add_c strong {
	font-weight:normal;
	font-family: 'latobold';
	color:#282727;
}
#content .infor_c .infor_c_inn p a {
	color:#37bbec;
}

#content .frm {
	padding:0 25px 30px 25px;
}
#content .frm .lbltxt {
	font-size:14px;
	line-height:16px;
	padding:24px 0 13px 0;
	font-family: 'latobold';
	font-weight:normal;
}
#content .frm .txtbox {
	width:100%;
	border:1px solid #d7dbdb;
	height:30px;
	display:block;
	padding:0 15px;
	border-radius:15px;
	margin:0;
	font-size:14px;
	color:#898989;
	font-family: 'latoregular';
}
#content .frm textarea {
	width:100%;
	border:1px solid #d7dbdb;
	height:100px;
	display:block;
	padding:15px;
	border-radius:15px;
	margin:0 0 24px 0;
	font-size:14px;
	color:#898989;
	font-family: 'latoregular';
}
#content .frm .req {
	color:#fb5700;
	font-size:14px;
	font-family: 'latobold';
	font-weight:normal;
	margin-left:4px;
}
#content .frm .btn_c {
	width:105px;
	float:left;
	margin:0 20px 0 0;
}
#content .frm .clear_btn {
	border:2px solid #d7dbdb;
	text-align:center;
	font-weight:normal;
	border-radius:18px;
	font-size:14px;
	line-height:36px;
	color:#898989;
	width:84px;
	height:40px;
	display:block;
	float:left;
	cursor:pointer;
	font-family: 'latoblack';
}
.clear_btn {
	background:#fff;
}
.clear_btn:hover {
	background:#f3f6f6;
}
.clear_btn:active {
	background:#f3f6f6;
}
#content .frm .reqired {
	color:#fb5700;
	font-size:14px;
	font-family: 'latobold';
	font-weight:normal;
	line-height:40px;
	float:right;
	display:block;
}
#content .frm .frm_bot {
}
.btn_c {
	width:130px;
	height:40px;
	font-size:14px;
	line-height:40px;
	color:#ffffff;
	font-weight:normal;
	display:block;
	margin:30px auto 0;
	font-family: 'latoblack';
	background:#37bbec;
	border-radius:18px;
	text-shadow:-1px -1px 1px #2f8aab;
	border:none;
	text-align:center;
	cursor:pointer;
	position:relative;
}
.btn_c:hover {
	background-color:#48c3ee;
	text-decoration:none;
	color:#fff;
}
.btn_c:active {
	background-color:#2caee7;
	text-decoration:none;
	color:#fff;
}

/*----------------
  Organization page
-----------------*/

#content .pro_main_c .slider_1 {
	padding:20px 15px;
	background: #fff;
	position: relative;
	box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
	margin: 0 0 30px 0;
	border-radius: 5PX;
}
#content .pro_main_c .slider_1 img {
	margin-left: auto;
  	margin-right: auto;
}

#content .pro_main_c .slider_1 .main_thumb {
}
#content .pro_main_c .slider_1 .slider_1_nav {
	float:right;
}
#content .pro_main_c .slider_1 .slider_1_nav ul {
	margin:0;
	padding:0;
	display:block;
}
#content .pro_main_c .slider_1 .slider_1_nav ul li {
	border:1px solid #efefef;
	padding:4px;
	display:block;
	margin:0 0 5px 0;
	cursor:pointer;
}
#content .pro_main_c .slider_1 .slider_1_nav ul li:last-child {
	margin-bottom:0;
}
#content .pro_main_c .slider_1 .slider_1_nav ul li.active, #content .pro_main_c .slider_1 .slider_1_nav ul li:hover {
	border:1px solid #fbcf00;
}
#content .pro_main_c .slider_1 .slider_1_nav ul li .small_thumb {
	background:#dcdcdc;
	width:50px;
	height:50px;
	display:block;
}
#content .pro_main_c .desc_blk {
	background: #fff;
	position: relative;
	box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
	margin: 0 0 30px 0;
	border-radius: 5PX;
	padding:0;
}
#content .pro_main_c h3 {
	line-height:20px;
	padding:15px 15px;
	border-bottom:1px solid #efefef;
	margin: 0;
}
#content .pro_main_c .desc_blk h5 {
	line-height:20px;
	padding:5px 15px;
	margin: 0;
	text-transform: none;
}
#content .pro_main_c .desc_blk .desc_blk_inn {
	padding:10px 15px;
}
#content .pro_main_c .desc_blk .desc_blk_inn h5 {
	padding:0 0 8px 0;
	border:none;
	text-transform:none;
	font-weight:normal;
	font-family: 'latobold';
}
#content .pro_main_c .desc_blk .desc_blk_inn p {
	font-size:14px;
	line-height:21px;
	color:#898989;
	margin:0;
}
#content .pro_main_c .desc_blk .graytext p {
	padding:0px 0px 15px 15px;
	font-size:14px;
	line-height:14px;
	color:#898989;
	margin:0;
}
#content .pro_main_c .desc_blk .desc_blk_inn ul {
	margin:0;
	padding:0;
	display:block;
}
#content .pro_main_c .desc_blk .desc_blk_inn ul li {
	margin:0;
	padding:0;
	display:block;
	font-size:12px;
	line-height:24px;
	color:#898989;
}
#content .pro_main_c .desc_blk .desc_blk_inn ul li .fa-smile-o {
	margin:0 8px 0 0;
	font-size:14px;
	line-height:30px;
	color:#37bbec;
}
#content .pro_main_c .desc_blk .desc_blk_bot {
	background:#fafafa;
	padding:15px 15px;
}
#content .pro_main_c .desc_blk .desc_blk_bot .qty {
	float:left;
	margin:5px 25px 0 0;
}
#content .tabing {
	background: #fff;
	position: relative;
	box-shadow: 0 2px 2px rgba(11, 25, 28, 0.1);
	margin: 0 0 30px 0;
	border-radius: 5PX;
	padding:0;
}
#content .tabing .tab-content {
	padding:25px 15px;
}
#content .tabing .nav > li > a {
	font-size:16px;
	line-height:20px;
	color:#898989;
	font-weight:normal;
	font-family: 'latoblack';
	padding: 15px 15px;
	text-transform:uppercase;
	border-radius:0;
	border-top:none;
}
#content .tabing .nav-tabs > li.active > a, #content .tabing .nav-tabs > li.active > a:hover, #content .tabing .nav-tabs > li.active > a:focus {
	border:1px solid #efefef;
	border-bottom-color: transparent;
	border-radius:0;
	border-top:none;
	color:#282727;
}
#content .tabing .nav > li > a span {
	font-size:14px;
	line-height:20px;
	color:#37bbec;
	margin:0 0 0 10px;
}
#content .tabing .nav-tabs > li.active:first-child > a {
}
#content .tabing .nav-tabs > li.active:first-child > a, #content .tabing .nav-tabs > li.active:first-child > a:hover, #content .tabing .nav-tabs > li.active:first-child > a:focus {
	border-left:none;
}
#content .tabing .tab-content h5 {
	text-transform:none;
	margin:0px;
	padding:5px 0px;
}
#content .tabing .tab-content .rew_blk {
	padding:0 0 28px 0;
}
#content .tabing .tab-content .rew_blk .top_row {
	padding:13px 0;
}
#content .tabing .tab-content .rew_blk .date {
	font-size:14px;
	line-height:16px;
	color:#898989;
	margin:0 20px 0 0;
	padding:0 20px 0 0;
	display:block;
	float:left;
}
#content .tabing .tab-content .rew_blk .date .fa-calendar {
	font-size:14px;
	line-height:16px;
	color:#d7dbdb;
	margin:0 7px 0 0;
}
#content .tabing .tab-content .rew_blk .user {
	font-size:14px;
	line-height:16px;
	color:#898989;
	margin:0 0px 0 0;
	padding:0 0 0 0;
	display:block;
	float:left;
}
#content .tabing .tab-content .rew_blk .user:hover {
	color:#37bbec;
}
#content .tabing .tab-content .rew_blk .user .fa-user {
	font-size:14px;
	line-height:16px;
	color:#d7dbdb;
	margin:0 7px 0 0;
}
#content .tabing .tab-content .rew_blk ul.start_list {
	float:right;
}
#content .tabing .tab-content .rew_blk p, #content .tabing .tab-content, #content .tabing .tab-content p {
	font-size:14px;
	line-height:21px;
	color:#898989;
}

#content .tabing .tab-content .rew_frm {
	padding-bottom:0;
}
#content .tabing .tab-content .rew_frm .first_row .lbltxt {
	padding-top:18px;
}
#content .tabing .tab-content .rew_frm {
}
#content .tabing .tab-content .rew_frm ul.start_list {
	float:none;
}
 /* Responsive Styles*/
 /* for Mobile */
 @media (max-width: 767px) {
 	.whitetag {
 		margin-bottom: 10px;
 	}
 	.bigicon{
		font-size:90px;
	}
	.thumbnail .caption h3{
		font-size:20px;
	}
 	#socialmediacontent {
 		padding: 15px 0px 10px 15px;
 	}
	.main_box .desc_title_front_page h5 {
		margin-bottom: 0px;
	}
 	body {
	  padding-top: 135px;
	}
	a.anchor{
		top: -140px;
	}
	.navbar-form{
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top:5px;
		border-top:0px;
	}
	.navbar-toggle {
		margin-bottom: 0px; 
		margin-right: 5px;
		display:inline-block;
    	float:right
	}
	.navbar-nav{
		margin-top: 0px;
		margin-bottom: 0px;
		display:inline-block;
	}
	
	.navbar-displayed{
		text-align:center;
	}

	.navbar-form .form-group{
		margin-bottom: 0px;
	}
	.navbar-brand>img {
		display:inline-block;
	    position: absolute;
	    left:0;
	    right:0;
	}
	.navbar-brand{
		height:40px;
		width:100%;
	}
	.nav>li {
	    position: relative;
	    display: inline-block;
	}
	#footer .f_mid .social ul {
		display:inline-block;
	}
	.main_box{
		width:85%;
		float: none;
   		margin: 0 auto;
	}
	.product_c .twitter {
		width:85%;
		float: none;
   		margin: 0 auto;
	}

	.slick-prev:before, .slick-next:before { 
		font-family: "slick"; 
		font-size: 30px; 
		line-height: 1; 
		opacity: 0.75; 
		-webkit-font-smoothing: antialiased;
	}
	.slick-prev{
		height: 30px; width: 30px;
		left:-35px;
	}
	.slick-next{
		height: 30px; width: 30px;
		right:-35px;
	}

	.tgl_c{
		display:none;
	}
	h1 {
		/*font-size:26px;*/
	}
	#content .frm .btn_c {
		float:none;
		margin:0 5px;
		display:inline-block;
	}
	#content .frm .frm_bot {
		text-align:center;
	}
	.main_box .desc h5 {
		margin-bottom: 0px;
	}
	#content .pro_main_c .slider_1 .main_thumb {
		float:none;
		width:380px;
		margin:0 auto 20px;
		height:380px;
	}
	#content .pro_main_c .slider_1 .slider_1_nav {
		float:none;
		text-align:center;
	}
	#content .pro_main_c .slider_1 .slider_1_nav ul {
		display:inline-block;
	}
	#content .pro_main_c .slider_1 .slider_1_nav ul li {
		float:left;
		margin:0 10px 0 0;
	}
	#content .pro_main_c .slider_1 .slider_1_nav ul li .small_thumb {
		width:60px;
		height:60px;
	}
	#content .pro_main_c .slider_1 .slider_1_nav ul li:last-child {
		margin:0;
	}

	#content .tabing .tab-content .rew_blk {
		padding:0 0 10px 0;
	}
	.affix {
	    position: static;
	}
 }

 /* for tablet desktop */
@media (min-width: 768px) {
	body {
	  padding-top: 70px;
	}
	.affix {
	    position: fixed;
	    top: 100px;
	    width: 200px;
	}
	.affix-bottom {
		position: absolute;
		width: 200px;
	}

	.mediumicon{
		padding:15px;
	}
	.navbar-toggle {
		margin-bottom: 8px; 
	}
	.main_box {
		height:340px;
	}
	.main_box .box_1 {
		height:220px;
	}
	.product_c .main_box.searchbox {
		height:200px;
	}
	.product_c .main_box.searchbox .box_1{
		height:160px;
	}
	.product_c .main_box.searchbox{
		margin-bottom: 80px;
	}
	.product_c .main_box.searchbox .desc{
		max-height: 100px;
		overflow: hidden;
	}
	.main_box .desc_title_front_page {
		height:55px;
	}
	#content .pro_main_c .slider_1 .main_thumb {
		width:250px;
		height:250px;
	}
	#content .pro_main_c .slider_1 .slider_1_nav ul li {
		margin: 0 0 6px 0;
		padding:4px;
	}
	#content .pro_main_c .slider_1 .slider_1_nav ul li .small_thumb {
		width:36px;
		height:36px;
	}
	#content .pro_main_c .desc_blk .desc_blk_bot .qty {
		margin-right:10px;
	}
	#content .pro_main_c .desc_blk .review_row .total_rew {
		padding-right:10px;
		font-size:12px;
	}
	#content .pro_main_c .desc_blk .review_row a.add_rew {
		margin-left:10px;
		font-size:12px;
	}
}

/* for desktop */
@media (min-width: 1200px) {
	body {
	  padding-top: 50px;
	}
	.affix {
	    width: 260px;
	}
	.affix-bottom {
		width: 260px;
	}

	.main_box {
		height: 320px;
	}
	.main_box .box_1 {
		height:200px;
	}
	.main_box .desc_title_front_page {
		height:70px;
	}
	.product_c .main_box.searchbox {
		height:240px;
	}
	.product_c .main_box.searchbox .box_1{
		height:200px;
	}
	.product_c .main_box.searchbox{
		margin-bottom: 80px;
	}
	.product_c .main_box.searchbox .desc{
		max-height: 100px;
		overflow: hidden;
	}
	.product_c .main_box {
		margin-bottom:70px;
	}

	/*.product_c .main_box.searchbox:before {
    content:'';
    width:100%;
    height:100%;    
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 260px, #f3f6f6);
	}*/
	#content .pro_main_c .desc_blk .desc_blk_inn {
		padding:10px 15px;
	}
	#content .pro_main_c .desc_blk .desc_blk_inn h5 {
		padding:0 0 14px 0;
	}
	#content .pro_main_c .desc_blk .desc_blk_inn ul li {
		font-size:14px;
		line-height:30px;
	}
	#content .pro_main_c .desc_blk .desc_blk {
		padding:30px 25px;
	}
	#content .pro_main_c .desc_blk .desc_blk_bot {
		padding:15px 25px;
	}
	#content .pro_main_c .desc_blk .review_row {
		padding:16px 25px;
	}
	#content .tabing .tab-content {
		padding:30px 25px;
	}
	#content .tabing .nav > li > a {
		padding:16px 25px;
	}
	#content .pro_main_c .slider_1 {
		padding: 20px 25px;
	}
	#content .pro_main_c .slider_1 .main_thumb {
	}
	#content .pro_main_c .slider_1 .slider_1_nav ul li {
		margin: 0 0 10px 0;
	}
	#content .pro_main_c .slider_1 .slider_1_nav ul li .small_thumb {
		width:64px;
		height:64px;
	}
	.mediumicon{
		padding:20px;
	}
}
