extends ../layout

block content
  .page-header
    h3 Add New Organization

  form.form-horizontal(role='form', method='POST', novalidate="novalidate",id='addOrganization')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label(class='col-sm-2 control-label', for='name') Organization Name
      .col-sm-4
        input.form-control(type='text', name='name', id='name', autofocus=true, placeholder='Type Name of the Organization',required)
    .form-group
      label(class='col-sm-2 control-label', for='email') Email
      .col-sm-4
        input.form-control.col-sm-8(type='email', name='email', id='email', placeholder='Email',required)
    .form-group
      label(class='col-sm-2 control-label', for='address') Location
      .col-sm-4
        textarea.form-control(type='text', name='address', rows='3', id='address', placeholder='Type physical address if you have it, if not just city name is OK. To be used to determine location on a map')
    .form-group
        label(class='col-sm-2 control-label', for='longitude') Longitude/Latitude
        div(class='col-sm-2')
            input.form-control(type='text', name='longitude', id='longitude')
        div(class='col-sm-2')
            input.form-control(type='text', name='latitude', id='latitude')
    .form-group
      label(class='col-sm-2 control-label', for='phoneNumber') Phone Number
      .col-sm-2
        input.form-control(type='text', name='phoneNumber', id='phoneNumber', placeholder='Phone Number')
    .form-group
      label(class='col-sm-2 control-label', for='website') Website
      .col-sm-4
        input.form-control(type='text', name='website', id='website', placeholder='Website', data-parsley-type="url")
    .form-group
      label(class='col-sm-2 control-label', for='logo') Logo URL
      .col-sm-4
        input.form-control(type='text', name='logo', id='logo', placeholder='URL to their logo', data-parsley-type="url")
    .form-group
        label(class='col-sm-2 control-label', for='socialMediaUrl') Social Media Profile URL
        .col-sm-8(id="duplicateSocialMedia")
            .row
                div(class='col-sm-8')
                    input.form-control(type='text', name='socialMediaUrl[]', id='socialMediaUrl',placeholder='Just enter the full URL of the social media profile',data-parsley-type="url")
                div(class='col-sm-1')
                    a(class="btn btn-primary",id="addButtonSocialMedia")
                        span(class="ion-plus-round") 
                        |Add
    .form-group
      label(class='col-sm-2 control-label', for='parentOrganization') Parent Organization
      .col-sm-4
        input.form-control(type='text', name='parentOrganization', id='parentOrganization', placeholder='Parent Organization (Optional)')
    .form-group
      label(class='col-sm-2 control-label', for='yearFounded') Year Founded
      .col-sm-2
        input.form-control(type='text', name='yearFounded', id='yearFounded',placeholder='Year Founded',data-parsley-type="integer",data-parsley-range="[1800,2100]")
    .form-group
      label(class='col-sm-2 control-label', for='primaryBusinessSector') Primary Business Sector
      .col-sm-4
        input.form-control(type='text', name='primaryBusinessSector', id='primaryBusinessSector', placeholder='Primary Business Sector')
    .form-group
      label(class='col-sm-2 control-label', for='descriptionService') Product or Service Description
      .col-sm-8
        textarea.form-control(type='text', name='descriptionService', id='descriptionService', rows='4', placeholder='Product or Service Description')
    .form-group
      label(class='col-sm-2 control-label', for='socialPurposeCategory') Social Purpose Category
      .col-sm-4
        input.form-control(type='text', name='socialPurposeCategory', id='socialPurposeCategory', placeholder='Social Purpose Category')
    .form-group
      label(class='col-sm-2 control-label', for='descriptionCause') Social Purpose Description
      .col-sm-8
        textarea.form-control(type='text', name='descriptionCause', id='descriptionCause', rows='4', placeholder='Social Purpose Description')
    .form-group
      label(class='col-sm-2 control-label', for='organizationalStructure') Organizational Structure
      .col-sm-4
        select.form-control(name='organizationalStructure', id='organizationalStructure')
            option(selected hidden value='') Choose an Organizational Structure
            option(value='for profit') For-Profit
            option(value='non profit') Non-Profit
            option(value='cooperative') Cooperative
            option(value='registered charity') Registered Charity
    .form-group
      label(class='col-sm-2 control-label', for='privateNote') Private Note
      .col-sm-8
        textarea.form-control(type='text', name='privateNote', id='privateNote', rows='4', placeholder='Private Note that will not be readable on website')
    .form-group
        label(class='col-sm-2 control-label', for='resourceName') Additional Resources
        .col-sm-8(id="duplicateResource")
            .row
                div(class='col-sm-6')
                    input.form-control(type='text', name='resourceName[]', id='resourceName',placeholder='Resource Name (Could be Article Name)')
                div(class='col-sm-5')
                    input.form-control(type='text', name='resourceUrl[]', id='resourceUrl',placeholder='URL',data-parsley-type="url")
                div(class='col-sm-1')
                    a(class="btn btn-primary",id="addButtonResource")
                        span(class="ion-plus-round") 
                        |Add

    .form-group
        label(class='col-sm-2 control-label', for='active') Publish it on the website
        div(class='col-sm-8 btn-group',data-toggle='buttons')
            label(class='btn btn-primary active')
                input(type='radio',name='active',id='active1',value="true",checked="checked")
                |ON
            label(class='btn btn-primary')
                input(type='radio',name='active',id='active2',value="false")
                |OFF

    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-primary(type='submit')
          span.ion-plus-round
          | Add Organization